/* MEDIAS QUERYS */
/* DESKTOP */

@media (min-width: 1200px){
    .nav-item{
        margin-right: 70px;
    }

    #presentacion img{
        width: 50%;
    }

    .img-grid{
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: 200px;
    }
}

@media (min-width: 1399.98px){
    .nav-item{
        margin-right: 150px;
    }

    .img-grid{
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: 350px;
    }
}

/* DESKTOP */